/* body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
}
.heading {
  font-weight: 700
}
.subheading {
  font-weight: 400
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
